
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(160,88,46,255);
 }
  
 li {
    float: left;
  }
  
  li a {
    display: block;
    color: #67a035
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


h1 {
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 4px 10px rgb(53, 60, 160);
    color: #67a035;
    font-variant: small-caps;
}

h2 {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 4px 10px rgb(53, 60, 160);
    color: #67a035;
    font-variant: small-caps;
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 4px 10px rgb(53, 60, 160);
    color: #67a035;
    font-variant: small-caps;
    text-decoration: underline;
}

body {
    text-align: center;
    background-image: url(https://live.staticflickr.com/5180/5423565794_fa1e49d594_b.jpg);
    background-size: cover;
    color: rgb(53, 60, 160);
    letter-spacing: 0.1em;
    font-weight: 600;
}

article {
    background-color: burlywood;
    font-size: larger;
    margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
  line-height: 30px;
  word-spacing: 5px;
  white-space: pre-wrap;
  text-align: center;
  padding: 40px;
}

footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(160,88,46,255);
}

img {
    margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}































